<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="simple_installer" Language="1033" Version="1.0.0.0" Manufacturer="Badhan Sen" UpgradeCode="d547b126-6b92-4ea1-aefb-a9d85ac27c8f">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="simple_installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ApplicationShortcuts"/>
      <ComponentGroupRef Id="DesktopShortcuts"/>
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Example" />
			</Directory>
      
      <!--Creating Desktop icon-->
      <Directory Id="DesktopFolder" Name="Desktop"/>
      
      <!-- Creating Program Menu Folder -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuSubfolder" Name="Example"/>
      </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
      <Component Id="ProductComponentFiles" Guid="{C2232037-F8FB-4A2C-B62B-4E541D4AFD15}">
        <File Source="Files\example.exe"/>
      </Component>
		</ComponentGroup>
	</Fragment>
  
  <Fragment>
		<ComponentGroup Id="ApplicationShortcuts" Directory="ProgramMenuSubfolder">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
      <Component Id="ApplicationShortcutFiles" Guid="{D6444429-20F4-4959-9AC3-4D36A573F9D1}">
        <Shortcut 
          Id="ApplicationShortcutFile1" 
          Name="Example" 
          Description="My Application Shortcut Description"
          Target="[INSTALLFOLDER]example.exe" 
          WorkingDirectory="INSTALLDIR"/>
      <RegistryValue 
        Root="HKCU" 
        Key="Software\Badhan Sen\Example" 
        Name="installed" 
        Type="integer" 
        Value="1" 
        KeyPath="yes" />
        <RemoveFolder Id="ProgramMenuFolder"  On="uninstall"/>
      </Component>
		</ComponentGroup>
	</Fragment>
  
  <Fragment>
    <ComponentGroup Id="DesktopShortcuts" Directory="DesktopFolder">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
      <Component Id="DesktopShortcutFiles" Guid="{6847A68F-F1B0-4263-AD1A-539CA0739A43}">
        <Shortcut
          Id="DesktopShortcutFile1"
          Name="Example"
          Description="My Application Desktop Shortcut Description"
          Target="[INSTALLFOLDER]example.exe"
          WorkingDirectory="INSTALLDIR"/>
        <RegistryValue
          Root="HKCU"
          Key="Software\Badhan Sen\Example"
          Name="installed"
          Type="integer"
          Value="1"
          KeyPath="yes" />
        <RemoveFolder Id="DesktopFolder"  On="uninstall"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
